body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 40px;
  border-bottom: 1px solid gray;
  background-color: black;
}

header a {
  text-decoration: none;
  color: white;
}

#contents {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
}

#logo {
  float: left;
  font-size: 30px;
  margin-left: 10px;
  margin-top: -3px;
  font-weight: 300;
}

#menus {
  float: right;
  font-size: 12px;
  margin-top: -3px;
  margin-right: 3px;
}

#searchbox {
  display: inline-block;
  margin-right: 10px;
  line-height: 36px;
  float: right;
}

#dashboard {
  display: none;
}

#create {
  display: none;
}

#login {
  line-height:40px;
}

#login-text {
  position: relative;
  top: 3px;
}

#login img {
  width: 28px;
  height: 28px;
  position: relative;
  top: 9px;
  right: 3px;
}

footer {
  clear: both;
  border-top: 1px solid gray;
  background-color: white;
  height: 60px;
  padding-top: 20px;
  text-align: center;
}

#toolbar {
  display: none;
  text-align: center;
  background-color: black;
  color: white;
  height: 30px;
  line-height: 30px;
  clear: both;
}

#toolbar a {
  color: white;
  text-decoration: none;
}

/** repository **/
.thumbnail {
  float: left;
  width: 100%;
  margin-top: -52px;
  margin-bottom: 6px;
}

.dummy {
  height: 200px;
  background-color: #333;
  line-height: 200px;
  color: gray;
  text-align: center;
}

.item {
  clear: both;
  list-style-type: none;
}

.item a {
  text-decoration: none;
  color: white;
  margin-bottom: 12px;
}

.avatar {
  border: 1px solid white;
  float: left;
  padding: 0;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
  top: 5px;
  left: 5px;
}

.headline {
  float: left;
  position: relative;
  z-index: 2;
  font-size: 20px;
  width: 80%;
  top: 8px;
  left: 16px;
}

.owner {
  display: inline-block;
}

.owner a:hover{
  color: #ff1493;
}

.splitter {
  display: inline-block;
}

.repository {
  display: inline-block;
}

.repository:hover {
  color: #ff1493;
}

.tags {
  float: left;
  position: relative;
  z-index: 2;
  width: 80%;
  top: 10px;
  left: 16px;
  font-size: 12px;
}

.tags a:after {
  content: ", ";
}

.tags a:last-child:after {
  content: "";
}

.tags a:hover {
  color: #ff1493;
}
