body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: #ddd;
}

header a {
  text-decoration: none;
}

#contents {
}

#main {
  float:left;
  margin: 24px 0 24px 24px;
  width: 450px;
}

#sub {
  float: left;
  margin: 24px 0 24px 24px;
  width: 200px;
}

#logo {
  float: left;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 300;
}

#menus {
  float: right;
  font-size: 12px;
  height: 20px;
}

#dashboard {
  display: none;
}

#create {
  display: none;
}

#login {
}

#login img {
  width: 14px;
  height: 14px;
  margin-right: 1px;
  position: relative;
  top: 2px;
}

#login span {
}

footer {
  clear: both;
  width: 100%;
  border-top: 1px solid gray;
  background-color: white;
}

footer {
  height: 60px;
  padding-top: 20px;
  text-align: center;
}

#toolbar {
  display: none;
  text-align: center;
}