#project {
}

#meta {
}

#owner {
}

#owner img {
}

#title {
}

#tags {
}

#tags:before {
  content: "tags: ";
}

#index {
}

#index h1{
}

#index ul{
}

#index a{
}

#item-list-ul {
}

.item {
}

.content {
}

.content img {
}

.content video {
}

.content a {
}

h1 {
}

/** in slide **/
#slide-container {
  background-color: white;
}

#slide-container section {
  margin: 5%;
  height: 90%;
  width: 90%;
}

#slide-container #meta {
  margin: 0%;
  height: 100%;
  width: 100%;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#slide-container #index {
  font-size: 28px;
}

#slide-container video {
  text-align: center;
}

#slide-container img {
  text-align: center;
}

#slide-container .content {
  font-size: 28px;
}