.grid {
  display:inline-block;
  margin-top: 20px;
  vertical-align: top;
  position: relative;
}

.grid:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* override features */
#main {
/*  border-top: 1px solid gray; */
/*  background-color: black; */
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  position: relative;
  max-width: 700px;
}

.headline {
  top: 3px;
  left: 10px;
}

.repository {
  font-size: 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  top: 7px;
  left: 7px;
}

.owner {
  top: 0px;
}

.tags {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
}