.grid {
  position: absolute;
  list-style: none;
}

.project a {
  text-decoration: none;
  color: gray;
}

.project a:hover {
  color: black;
}

.project {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 5px;
}

.thumbnail {
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
}

.projectName {
  padding: 0px 0 5px 10px;
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
}

.ownerLink {  
}

.owner {
  font-size: 10px;
  vertical-align: top;
  padding: 0 0 5px 31px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 10px 0px;
}

.tags {
  border-top: 1px solid #ddd;
  font-size: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.tags a {
  padding-right: 5px;
  display: inline-block;
}
