#item {
  background-color: white;
  border: 1px solid gray;
  padding: 0 12px 12px 12px;
}

#tools {
  text-align: right;
  font-size: 10px;
}

#fork {
  margin-right: 6px;
  text-decoration: none;
}

#meta {
  clear: both;
  margin-bottom: 8px;
}

#owner {
  display: inline-block;
}

#owner img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

#title {
  display: inline-block;
}

#tags {
  font-size: 10px;
  height: 10px;
  margin-top: 16px;
}

#tags:before {
  content: "tags: ";
}

#tags.editing {
  position: relative;
  top: -2px;
}

#fork-button {
}

#commit-button {
  display: none;
}

#delete-button {
  display: none;
}

#section-list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  border-top: 1px dotted black;
  clear: both;
}

.content {
  cursor: default;
  text-decoration: none;
  color: black;
  pointer-events: none;
  width: 100%;
}

.image-container {
  text-align: center;
}

.function {
  display: none;
  text-align: right;
}

.button {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 3px;
  cursor: pointer;
  display: none;
}

.button.remove {
  background: url(../images/remove.png) no-repeat;
  background-size: contain;
}

.button.upload {
  background: url(../images/upload.png) no-repeat;
  background-size: contain;
}

#form {
  display: none;
}

#textarea-container {
  display: inline-block;
  width: 100%;
}

#upload-container {
  text-align: right;
}

.right {
  text-align: right;
}

#upload {
  display: none;
}

#reusable_input.title {
  height: 10px;
}

#reusable_input.tags {
  height: 10px;
  font-size: 10px;
}

#reusable_textarea {
  position: relative;
  top: 10px;
  left: -2px;
}

/** -------- editable -------------- **/
.editable #item {
}

.editable #tools {
  margin-bottom: 2px;
}

.editable #fork-button {
  display: none;
}

.editable #delete-button {
  display: inline-block;
  float: left;
  margin-left: -1px;
}

.editable #commit-button {
  display: inline-block;
}

.editable #title {
  cursor: pointer;
}

.editable #tags {
  cursor: pointer;
}

.editable .content {
  pointer-events: auto;
}

.editable .section:last-child {
  border-bottom: 1px dotted black;
  margin-bottom: 24px;
}

.editable .function {
  display: block;
}

.button {
  display: inline-block;
}

.editable #form {
  display: block;
}

/** -------- in markdown ----------- **/
.content img {
  max-width: 100%;
  pointer-events: auto;
}

.content a {
  pointer-events: auto;
}

h1 {
  color: #ff1493;
}

/** --------- in sub -----------------**/
/** temp **/

#parent-item-label {
  font-size: 10px;
}

#parent-item a {
  color: white;
  text-decoration: none;
}

#child-item-list-label {
  font-size: 10px;
}

.child-item a {
  color: white;
  text-decoration: none;
}

textarea {
  width: 100%;
}