#main {
  margin: 12px 0;
}

#item-list {
  padding: 0;
  margin: 0;
}

.item {
  clear: both;
  list-style-type: none;
}

.item a {
  text-decoration: none;
  color: white;
  margin-bottom: 12px;
}

#tag-title {
  text-align: center;
}

.tag {
  margin: 0 10px;
  float: left;
}