#item-list {
  padding: 12px 0;
  background-color: white;
  margin: 0;
  border: 1px solid gray;
}

.item {
  list-style-type: none;
}

.item a {
  text-decoration: none;
}

.item img {
  padding: 0 3px 0 12px;
  width: 30px;
  height: 30px;
}

.item span {
  vertical-align: top;
  line-height: 30px;
}
