#item {
  background-color: white;
  border: 1px solid gray;
  padding: 0 0 12px 12px;
  margin: 24px auto;
  width: 440px;
}

#tools {
  text-align: right;
  font-size: 10px;
}

#fork {
  margin-right: 6px;
  text-decoration: none;
}

#meta {
  margin: 24px 0 8px 0;
}

#owner {
  display: inline-block;
}

#owner img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

#title {
  display: inline-block;
}

#tags {
  font-size: 10px;
  height: 10px;
  margin-top: 16px;
}

#tags:before {
  content: "tags: ";
}

#tags.editing {
  position: relative;
  top: -2px;
}

#commit-button-container {
  text-align: right;
  display: none;
}

#commit-button {
  position: relative;
  top: -30px;
}

#process-list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.process {
  clear: both;
}

.content {
  width: 430px;
  border-top: 1px dotted black;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  cursor: default;
  text-decoration: none;
  color: black;
  display: inline-block;
  pointer-events: none;
}

.image-container {
  text-align: center;
}

.function {
  width: 60px;
  text-align: center;
  float: right;
  display: none;
}

.button {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 3px;
  cursor: pointer;
  display: none;
}

.button.remove {
  background: url(../images/remove.png) no-repeat;
  background-size: contain;
}

.button.upload {
  background: url(../images/upload.png) no-repeat;
  background-size: contain;
}

#form {
  display: none;
}

#textarea-container {
  width: 430px;
  display: inline-block;
}

#upload-container {
  float: right;
  width: 60px;
  text-align: center;
}

.right {
  text-align: right;
}

textarea {
  width: 430px;
}

#send-button {
  margin-top: 3px;
}

#upload {
  display: none;
}

#reusable_input.title {
  height: 10px;
}

#reusable_input.tags {
  height: 10px;
  font-size: 10px;
}

#reusable_textarea {
  position: relative;
  top: -2px;
  left: -2px;
}

/** -------- editable -------------- **/
.editable #item {
  width: 490px;
}

.editable #fork {
  display: none;
}

.editable #title {
  cursor: pointer;
}

.editable #tags {
  cursor: pointer;
}

.editable #commit-button-container {
  display: block;
}

.editable .content {
  pointer-events: auto;
}

.editable .process:last-child .content {
  border-bottom: 1px dotted black;
  margin-bottom: 24px;
}

.editable .function {
  display: block;
}

.button {
  display: inline-block;
}

.editable #form {
  display: block;
}

/** -------- in markdown ----------- **/
.content img {
  width: 200px;
  pointer-events: auto;
}

.content a {
  pointer-events: auto;
}


h1 {
  color: #ff1493;
}

