#main {
  max-width: 630px;
  margin: 30px auto;
}

.tags {
  position: relative;
  top: 7px;
}

#tools {
  text-align: right;
  font-size: 10px;
  background-color: black;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #333;
  padding: 4px 0 2px 0;
}

#project {
  background-color: white;
  border: 1px solid #333;
  padding: 12px;
}

#gitfab-document {
  display: none;
}

#fork {
  margin-right: 6px;
  text-decoration: none;
}

#meta {
  font-family: Helvetica,sans-serif;
  height: 80px;
  position: relative;
  top: -22px;
}

#meta .headline {
  text-shadow: none;
}

#slide-button {
  font-size:10px;
  color:#404040;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #bbbbbb;
  width:80px;
  height: 19px;
  padding-bottom: 2px;
  text-decoration:none;
  background: -moz-linear-gradient(top,#ffffff 0%,#dedede);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedede));
  background-color:#dedede;
  display:inline-block;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;
  cursor: pointer;
}

#slide-button:hover {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  color: #404040;
  text-decoration: none;
}

#slide-button:active {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  -webkit-box-shadow:inset 1px 1px 0px 0px #acacac;
  -moz-box-shadow:inset 1px 1px 0px 0px #acacac;
  box-shadow:inset 1px 1px 0px 0px #acacac;
  color: #404040;
  text-decoration: none;
}

#fork-button {
  font-size:10px;
  color:#404040;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #bbbbbb;
  width:80px;
  height: 19px;
  padding-bottom: 2px;
  text-decoration:none;
  background: -moz-linear-gradient(top,#ffffff 0%,#dedede);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedede));
  background-color:#dedede;
  display:inline-block;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;
  cursor: pointer;
}

#fork-button:hover {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  color: #404040;
  text-decoration: none;
}

#fork-button:active {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
   -webkit-box-shadow:inset 1px 1px 0px 0px #acacac;
  -moz-box-shadow:inset 1px 1px 0px 0px #acacac;
  box-shadow:inset 1px 1px 0px 0px #acacac;
  color: #404040;
  text-decoration: none;
}



#commit-button {
  font-size:10px;
  color:#404040;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #bbbbbb;
  width:80px;
  height: 19px;
  padding-bottom: 2px;
  text-decoration:none;
  background: -moz-linear-gradient(top,#ffffff 0%,#dedede);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedede));
  background-color:#dedede;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;
  display: none;
  cursor: pointer;
}

#commit-button:hover {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  color: #404040;
  text-decoration: none;
}

#commit-button:active {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  -webkit-box-shadow:inset 1px 1px 0px 0px #acacac;
  -moz-box-shadow:inset 1px 1px 0px 0px #acacac;
  box-shadow:inset 1px 1px 0px 0px #acacac;
  color: #404040;
  text-decoration: none;
}


#delete-button {
  font-size:10px;
  color:#FF0000;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #bbbbbb;
  width:80px;
  height: 19px;
  padding-bottom: 2px;
  text-decoration:none;
  background: -moz-linear-gradient(top,#ffffff 0%,#dedede);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedede));
  background-color:#dedede;
  display:inline-block;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;
  display: none;
  cursor: pointer;
}

#delete-button:hover {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  color: #404040;
  text-decoration: none;
}

#delete-button:active {
  background: -moz-linear-gradient(top,#f0f0f0 0%,#d0d0d0);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d0d0d0));
  background-color:#d0d0d0;
  -webkit-box-shadow:inset 1px 1px 0px 0px #acacac;
  -moz-box-shadow:inset 1px 1px 0px 0px #acacac;
  box-shadow:inset 1px 1px 0px 0px #acacac;
  color: #404040;
  text-decoration: none;
}


#index {
  clear: both;
  border-top: 1px dotted black;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  color: #404040;
}

#index h1{
  margin-bottom: 0px;
}

#index ul{
  margin-top: 0px;
}

#index a{
  text-decoration: none;
  color:#3387b6;
}
#index a:visited { color:#3387b6; }
#index a:hover { text-decoration: underline; }


#item-list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  border-top: 1px dotted black;
  clear: both;
}

.content {
  cursor: default;
  text-decoration: none;
  color: black;
  width: 100%;
  font-family: Helvetica,sans-serif;
}

.content * {
  pointer-events: auto;
}

.content a {
  text-decoration: none;
  color:#3387b6;
}
.content a:visited { color:#3387b6; }
.content a:hover { text-decoration: underline; }


.image-container {
  text-align: center;
}

.function {
  display: none;
  text-align: right;
  font-size: 10px;
}

.function .text-button {
  margin-left: 6px;
}

#repository:hover {
  color: black;
}

#form {
  display: none;
}

#textarea-container {
  display: inline-block;
  width: 100%;
}

#upload-container {
  text-align: right;
}

.right {
  text-align: right;
}

#upload {
  display: none;
}

#reusable_textarea {
}

#reusable_applybutton {
  text-align: right;
}

#customize-css {
  display: none;
  margin-bottom: 12px;
}

/** -------- editable -------------- **/
.editable #project {
}

.editable #tools {
}

.editable #fork-button {
  display: none;
}

.editable #delete-button {
  display: inline-block;
}

.editable #commit-button {
  display: inline-block;
}

.editable #repository {
  cursor: pointer;
}

.editable #tags {
  cursor: pointer;
}

.editable #tags:hover {
  color: #ff1493;
}

.editable #repository:hover {
  color: #ff1493;
}

.editable .content {
  pointer-events: auto;
}

.editable .item:last-child {
  border-bottom: 1px dotted black;
  margin-bottom: 24px;
}

.editable .function {
  display: block;
}

.button {
  display: inline-block;
}

.editable #form {
  display: block;
}

.editable #customize-css {
  display: block;
}

/** -------- in markdown ----------- **/
.content video {
  max-width: 100%;
}

.content img {
  max-width: 100%;
}

.content a {
}

h1 {
  color: #ff1493;
}

/** --------- in sub -----------------**/
/** temp **/

#parent-project-label {
  font-size: 10px;
}

#child-project-list-label {
  font-size: 10px;
}

textarea {
  width: 100%;
  height: 10em;
}
