#project-list {
  padding: 0;
  margin: 0;
}

#tag-title {
  text-align: center;
}

.tags {
  margin: 0 10px;
  float: left;
  text-shadow: black 1px 1px;
}

.repository {
  text-shadow: black 1px 1px;
}

.owner {
  text-shadow: black 1px 1px;
}