#project-list {
  /*top:48px;*/
  padding: 0;
  margin: 20px 0 0 0;
  position: relative;
}

#tag-title {
  text-align: center;
}

.tag {
  margin: 0 10px;
  float: left;
  color: gray;
  text-decoration: none;
}

.tag:hover {
  color: black;
}

#main {
  padding-top: 30px;
}

#main.hasToolbar {
  padding-top: 0;
}