#slide {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

#slide-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#slide-container #index {
  border: none;
}

/** users **/
#slide-container {
  background-color: white;
}

#slide-container section {
  margin: 5%;
  height: 90%;
  width: 90%;
}

#slide-container #meta {
  margin: 0%;
  height: 100%;
  width: 100%;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#slide-container #meta .headline {
  text-shadow: black 1px 1px;
}

#slide-container #index {
  font-size: 28px;
}

#slide-container video {
  text-align: center;
}

#slide-container img {
  text-align: center;
}

#slide-container .content {
  font-size: 28px;
}

